body{ 
	background: #d6eaf8 ;
	background-repeat: none;
	margin:0;
	font-family: 
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #B3E5FC;
	font-family: century gothic;
	list-style:none;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(4,1fr)
}

ul.topnav li a {
    display: block;
    color: #000000;
    text-align: center;
    padding: 34px 16px;
    text-decoration: none;
    font-size: 25px;
}
ul.topnav li a:hover:not(.active) {color: #0D47A1;}

.logo {
    padding: 0px;
    margin: 0px;
    text-align: center;
    display:inline-block;
    vertical-align:top;
  }
/* Main Article */

.main-article {
	background: #0D5D5A;
	padding: 10 px;
	margin: 20px;
	text-align: center;
	font-family: tw cen mt; 
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 3fr 1fr;
}	
/*main article left*/
.image{
	padding: 5px;
}
.babe{ 
	text-align: center;
	padding: 10px;
	margin: 0px 170px 20px 170px;
	color: #985353;
} 
.babe p {
	font-family:century gothic;
	font-size:20px;
}
.article{
	display: grid;
	grid-gap: 10px;;
	grid-template-columns: repeat(2,2fr);
	text-align: center;
	padding: 10px;
	background: #0D5D5A;
	margin: 50px;
	color: #985353;
}

.one{
	background: #90caf9;
	padding: 10px;
	margin: 20px;
	text-align: Justify;
	color: #985353;
	font-family: tw cen mt;
}
.two{
	background: #90caf9;
	padding: 10px;
	margin: 20px;
	text-align: justify;
	color: #985353;
	font-family: tw cen mt;
}
h3{
	text-align:center;
}
/* Footer */
.Footer{
	background: #B3E5FC;
	padding: 1px;
	margin-bottom: 0px;
	text-align: center;
	font-family: verdana;
	color: #9b7565;
}		