body{ 
	background: #d6eaf8 ;
	background-repeat: none;
	margin:0;
	font-family: 
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #B3E5FC;
	font-family: century gothic;
	list-style:none;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(4,1fr)
}
ul.topnav li a {
    display: block;
    color: #000000;
    text-align: center;
    padding: 34px 16px;
    text-decoration: none;
    font-size: 25px;
}
ul.topnav li a:hover:not(.active) {color: #0D47A1;}
.logo {
    padding: 0px;
    margin: 0px;
    text-align: center;
    display:inline-block;
    vertical-align:top;
  }

.article{
	display: grid;
	grid-gap: 10px;;
	grid-template-columns: repeat(3,2fr);
	text-align: center;
	padding: 10px;
	background-image: url(../images/dakoo.png);
	margin: 50px;
	color: #985353;
}

.six{
	background: #90caf9;
	padding: 10px;
	margin-top: 10px;
	color: #985353;
	font-family: tw cen mt;
	text-align:justify;
}
.one{
	background: mediumturquoise;
	padding: 10px;
	margin-top: 10px;
	color: #985353;
	font-family: tw cen mt;
	text-align:justify;
}

.two{
	background: #90caf9;
	padding: 10px;
	margin-top: 10px;
	color: #985353;
	font-family: tw cen mt;
	text-align:justify;
}
.ten{
	background: #90caf9;
	padding: 10px;
	margin-top: 10px;
	color: #985353;
	font-family: tw cen mt;
	text-align:justify;
}
.sev{
	background: mediumturquoise;
	padding: 10px;
	margin-top: 10px;
	color: #985353;
	font-family: tw cen mt;
	text-align:justify;
}
.twoart{
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(4,1fr);
	text-align: center;
	padding: 10px;
	background-image: url(../images/dakoo.png);
	margin: 50px;
	color: #985353;
}

h3 {
	font-family:times new roman;
	text-align:center;
}

h5 {
	font-family: century gothic;
	text-align:center;
}

h1 { 
	color: #985353;
	font-family: times new roman;
}
.arthree{
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(5,1fr);
	text-align: center;
	padding: 10px;
	background-image: url(../images/dakoo.png);
	margin: 50px;
	color: #985353;
}
/* Footer */
.footer {
	background: #B3E5FC;
	padding: 1px;
	margin-bottom: 0px;
	text-align: center;
	font-family: verdana;
	color: #9b7565;
}		